In [1]:
# Tuples --> (), tuple()

In [2]:
my_tuple = ("Amit", 1, 2.9, 1+0j, [1,2,3,4], (1,2,3))

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [5]:
len(my_tuple)

6

In [4]:
my_tuple[-2]

[1, 2, 3, 4]

In [6]:
my_tuple[-6]

'Amit'

In [7]:
my_tuple[0]

'Amit'

In [9]:
# This line will generate a TypeError
my_tuple[0] = "Abhishek"

TypeError: 'tuple' object does not support item assignment

In [10]:
my_tuple_1 = (1,1,2,2,3,3,5)

In [11]:
my_tuple_1

(1, 1, 2, 2, 3, 3, 5)

In [18]:
tuple_One = (2, True, False, None)

In [19]:
type(tuple_One)

tuple

In [16]:
list_1 = [2]

In [17]:
type(list_1)

list

In [20]:
my_tuple[1:5]

(1, 2.9, (1+0j), [1, 2, 3, 4])

In [21]:
my_tuple

('Amit', 1, 2.9, (1+0j), [1, 2, 3, 4], (1, 2, 3))

In [22]:
# moving on each item of a tuple

for c in my_tuple:
    print(c)

Amit
1
2.9
(1+0j)
[1, 2, 3, 4]
(1, 2, 3)

In [23]:
1.5 in my_tuple

False

In [24]:
1.5 not in my_tuple

True

In [26]:
x = ("apple", "banana", "cherry")

x[1] = "kiwi"

TypeError: 'tuple' object does not support item assignment

In [25]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [27]:
a = (1,2,3)
b = (4,5,6)

In [28]:
a+b

(1, 2, 3, 4, 5, 6)

In [29]:
a +=b

In [30]:
a

(1, 2, 3, 4, 5, 6)

In [31]:
# remove() ---> to remove/delete a particular item
# pop() --> to remove by index if empty it will delete the last item
# del --> mostly use to delete complete iterable. 
# clear() --> only delete items inside a iterable.

In [32]:
a,b,c = 12,15,18

In [33]:
a

12

In [34]:
b

15

In [35]:
c

18

In [36]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry